.log{
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    padding-left: 35px;
}

.logImg{
    position: absolute;
    top: 7px;
    left: 60px;
}

.register{
    float: right;
    cursor: pointer;
}

.login, .userInfo{
    float: right;
    cursor: pointer;
}

.log:hover, .register:hover, .login:hover{
    color: #108ee9;
}

.rightLi{
    float: right;
}